*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #f5f5f5;
  --primary-color: #e5e4e2;
  --secondary-color: #dbd7d2;
  --fighter-one-accent: #fad9d0;
  --fighter-two-accent: #d8dffe;
  --fighter-one-accent-hover: #f9e9e5;
  --fighter-two-accent-hover: #eaeefe;
  --text-color: #242124;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter";
  text-align: center;
}

header {
  font-size: 2rem;
  border-bottom: var(--text-color) solid 1px;
}

#ufc-logo {
  width: 70px;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 0.4fr 1fr;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

/*Search Input styler*/
.search-wrapper {
  position: relative;
  width: 60%;
  margin: 0 auto;
}
.dropdown {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.dropdown li {
  width: 100%;
  background-color: var(--primary-color);
  padding: 20px 0;
  font-size: 1.8rem;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dropdown li:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

/*Fighter card styling*/

.bio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  border-radius: 15px;
  font-size: 2rem;
  width: 70%;
  margin: 0 auto;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  padding-top: 40px;
  margin-top: 0px;
  width: 80%;
  height: 100px;
}

.age {
  padding: 0px;
  margin-top: 20px;
}
.horizontal-splitter {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 80%;
  margin: 0;
  border-radius: 100%;
}

.name-horizontal-splitter {
  height: 4px;
  background-color: #242124;
  width: 80%;
  margin: 20px auto;
  border-radius: 100%;
}

#fighter-left .bio-wrapper {
  background-color: var(--fighter-one-accent);
}

#fighter-right .bio-wrapper {
  background-color: var(--fighter-two-accent);
}

#fighter-left .bio-wrapper:hover {
  background-color: var(--fighter-one-accent-hover);
}

#fighter-right .bio-wrapper:hover {
  background-color: var(--fighter-two-accent-hover);
}

/* Stat Names */

.divider {
  display: block;
  padding-top: 270px;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
  width: 400px;
  font-style: italic;
}

.stats li {
  margin-bottom: 76px;
}
.close-btn {
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  padding: 0 10px;
  font-weight: lighter;
  margin: 10px 0;
}

.close-btn:hover {
  background: #c8c7c5;
  color: rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}
