*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #F5F5F5;
    --primary-color: #E5E4E2;
    --secondary-color: #DBD7D2;
    --fighter-one-accent: #98817B;
    --fighter-two-accent: #8C92AC;
    --text-color: #242124;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Inter";
    text-align: center;
}

header {
    font-size: 1.6rem;
    border-bottom: var(--text-color) solid 1px;
}

main {
    display: grid;
    grid-template-columns: 1fr 0.4fr 1fr;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.divider {
    border: solid var(--text-color) 10px;
}

.search-wrapper {
    position: relative;
    width: 60%;
    margin: 0 auto;
}
.dropdown {
    position: absolute;
    width: 100%;
    z-index: 10;
}
.dropdown li{
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px 0;
    font-size: 1.8rem;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.dropdown li:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); ;
}

.hidden {
    display: none;
}